.heading{
    text-align: center;
}


.text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
}
.notes{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
    flex-wrap: wrap;
}

.line{
    width: 40vh;
}

.cut{
    text-decoration: line-through;
}
.note{
    width: 40vh;
    display: flex;
    justify-content: space-between;
    border: solid;
}